<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	">
<!-- 	<bean id="bean1" class="cn.bsdn.my_test.Bean1">
		<property name="pro1" value="pro1"/>
		<property name="pro2" value="pro2"/>
	</bean> -->
	<context:property-placeholder location="classpath:configure.properties"/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="url" value="${jdbc.oc.url}" />
		<property name="driverClassName" value="${jdbc.oc.driver}" />
		<property name="username" value="${jdbc.oc.username}" />
		<property name="password" value="${jdbc.oc.password}" />
		<property name="minIdle" value="${jdbc.oc.minIdle}" />
        <property name="maxActive" value="${jdbc.oc.maxActive}" />
        <property name="maxWait" value="${jdbc.oc.maxWait}" />
        <property name="removeAbandonedTimeout" value="${jdbc.oc.removeAbandonedTimeout}" />
        <property name="removeAbandoned" value="${jdbc.oc.removeAbandoned}" />
        <property name="logAbandoned" value="${jdbc.oc.logAbandoned}" />
	</bean>
</beans>